// .main{
//     background-color: #E5E5E5;
//     height: 100%;
//     width: 100%;
// }

// .list-article{
//     border: 2px solid red;
//     list-style: none;
// }

// .article{
//     width: 941px;
//     height: 140px;
//     background-color: white
// }

.list {
    display: flex;
    flex-direction: column;
    gap: 10px
}